{% extends "base_therapy.html" %}
{% load static %}
{% block title %} TechWell Therapy |  Dashboard{% endblock %}
{% block content %}
<div class="dashboard-container">

    {% if request.user.therapy_profile.role == 'client' %}
    <div class="card">
        <i class="fa fa-user"></i>
        <h3>Client Dashboard</h3>
        <p>View your sessions, payments, and messages.</p>
        <a href="{% url 'therapy_hub:client_dashboard' %}">Enter</a>
    </div>
    {% endif %}

    {% if request.user.therapy_profile.role == 'counsellor' %}
    <div class="card">
        <i class="fa fa-user-md"></i>
        <h3>Counsellor Dashboard</h3>
        <p>Manage your clients, schedule, and session notes.</p>
        <a href="{% url 'therapy_hub:counsellor_dashboard' %}">Enter</a>
    </div>
    {% endif %}

    <p>Username: {{ request.user.username }}</p>
    <p>Role: {{ request.user.therapy_profile.role }}</p>
</div>

{% endblock %}