{% extends "base_therapy.html" %}
{% load static %}
{% block title %} TechWell Therapy |  Booking Form{% endblock %}
{% block content %}
<div class="dashboard-container">
    {% if request.user.profile.role == 'client' %}
    <!-- Client Dashboard Card -->
    <div class="card">
        <i class="fa fa-user"></i>
        <h3>Client Dashboard</h3>
        <p>View your sessions, payments, and messages.</p>
        <a href="{% url 'therapy_hub:client_dashboard' %}">Enter</a>
    </div>
    {% endif %}

    {% if request.user.role == 'counsellor' %}
    <!-- Counsellor Dashboard Card -->
    <div class="card">
        <i class="fa fa-user-md"></i>
        <h3>Counsellor Dashboard</h3>
        <p>Manage your clients, schedule, and session notes.</p>
        <a href="{% url 'therapy_hub:counsellor_dashboard' %}">Enter</a>
    </div>
    {% endif %}
    <p>Username: {{ request.user.username }}</p>
<p>Role: 
    {% if request.user.role %}
        {{ request.user.role }}
    {% elif request.user.profile.role %}
        {{ request.user.profile.role }}
    {% else %}
        Role not set
    {% endif %}
</p>
</div>

{% endblock %}