{% extends "base_digital.html" %}
{% load static %}
{% block title %} TechWell CyberCafe |  Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">

  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Staff Panel</h2>
    <ul>
      <li><a href="{% url 'digital:staff_appointments' %}"><i class="fa-solid fa-calendar-check"></i> Appointments</a></li>
      <li><a href="{% url 'digital:staff_tasks' %}"><i class="fa-solid fa-tasks"></i> Tasks</a></li>
      <li><a href="{% url 'digital:staff_payments' %}"><i class="fa-solid fa-wallet"></i> Staff Payments</a></li>
      <li><a href="{% url 'digital:messages' %}"><i class="fa-solid fa-envelope"></i> Messages</a></li>
    </ul>
  </aside>

    <header>
<main class="main">
<section class="sms-inbox">
    <h2>Inbox</h2>

{% for msg in messages %}
  <div class="message-card">
    <p><strong>From:</strong> {{ msg.sender.username }}</p>
    <p>{{ msg.message }}</p>
    <small>{{ msg.date_sent }}</small>
     <a href="?reply_to={{ msg.sender.id }}" class="reply-btn">
        <i class="fa-solid fa-reply"></i> Reply
      </a>
  </div>
{% empty %}
  <p>No messages yet.</p>
{% endfor %}
</section>
<section class="sms-inbox">
<h2>Send Message</h2>

<form method="POST">
  {% csrf_token %}

  <select name="recipient" required>
    <option value="">Select Client</option>
    {% for client in clients %}
      <option value="{{ client.id }}">{{ client.username }}</option>
    {% endfor %}
  </select>

  <textarea name="message" placeholder="Write message..." required></textarea>

  <button type="submit">Send</button>
</form> 

  </section>                                      
</main> 
</div>
{% endblock %}