{% extends "base_digital.html" %}
{% load static %}
{% block title %} TechWell CyberCafe |  Contact us{% endblock %}
{% block content %}
<div class="dashboard-container">

  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Staff Panel</h2>
    <ul>
      <li><a href="{% url 'digital:staff_appointments' %}"><i class="fa-solid fa-calendar-check"></i> Appointments</a></li>
      <li><a href="{% url 'digital:staff_tasks' %}"><i class="fa-solid fa-tasks"></i> Tasks</a></li>
      <li><a href="{% url 'digital:staff_payments' %}"><i class="fa-solid fa-wallet"></i> Staff Payments</a></li>
      <li><a href="{% url 'digital:messages' %}"><i class="fa-solid fa-envelope"></i> Messages</a></li>
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="main-dashboard">
    <h1>Welcome, {{ request.user.first_name }}</h1>

    <div class="dash-cards">
      <!-- Appointments Card -->
      <div class="dash-card">
        <i class="fa-solid fa-calendar-check card-icon"></i>
        <h3>Appointments</h3>
        <p>View and manage your appointments</p>
        <a href="{% url 'digital:staff_appointments' %}" class="dash-btn">Go</a>
      </div>

      <!-- Tasks Card -->
      <div class="dash-card">
        <i class="fa-solid fa-tasks card-icon"></i>
        <h3>Tasks</h3>
        <p>View your assigned tasks</p>
        <a href="{% url 'digital:staff_tasks' %}" class="dash-btn">Go</a>
      </div>

      <!-- Staff Payments Card -->
      <div class="dash-card">
        <i class="fa-solid fa-wallet card-icon"></i>
        <h3>Staff Payments</h3>
        <p>Check your payment history</p>
        <a href="{% url 'digital:staff_payments' %}" class="dash-btn">Go</a>
      </div>

      <!-- Messages Card -->
      <div class="dash-card">
        <i class="fa-solid fa-envelope card-icon"></i>
        <h3>Messages</h3>
        <p>Check messages from management</p>
        <a href="{% url 'digital:messages' %}" class="dash-btn">Go</a>
      </div>
    </div>
  </main>
</div>
<script>
function openConfirmModal(button) {
    const title = button.dataset.title;
    const url = button.dataset.url;

    document.getElementById("modalText").innerText =
        `Mark "${title}" as completed?`;

    document.getElementById("completeForm").action = url;

    document.getElementById("confirmModal").classList.remove("hidden");
}

function closeConfirmModal() {
    document.getElementById("confirmModal").classList.add("hidden");
}
</script>
{% endblock %}